body {
    font: 14px sans-serief, Arial, Tahoma;
}

.Alertmargin{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    font-size: 20px;
    /* text-align: center; */
}


.Textmargin{
    width: 70%;
    /* text-align: center; */
    margin-left: 15%;
    height: 10%;
    font-size: 20px;
}

.btnmargin{
    width: 50%;
    height: 5%;
    margin-left: 25%;
    margin-top: 1%;
}

.Addmargin{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}

.Addmargin2{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}


